<div class="">
    <h1>Cabin App</h1>
</div>
<header class="">
    <nav class="">
        <ul class="">
            <li class=""><a class="<%= path === '/' ? 'active' : '' %>" href="/">Home</a></li>
        </ul>   
    </nav>
</header>