<%- include('./includes/head.ejs') %>
<link rel="stylesheet" href="/css/form.css">
</head>

<body>
    <%- include('./includes/nav.ejs') %>
    <main>        
        <div class="user-message user-message--error invisible" id="errorBox">          
        </div>
        
        <ul id="property-list" class="">          
        </ul>
    </main>
    <script src="/scripts/properties.js"></script>
<%- include('./includes/end.ejs') %>