
.calendar {
    float: left;
    width: 55%;
    padding: 1vw;
    font-size: 2vw;
    text-align: center;
    font-family: verdana;
    margin: 1vw;
}

.month-indicator {
    margin-bottom: 1vw;
}
.month-indicator,
.month-indicator button {
    font-size: 3vw;
    padding: 0.25vw;
}

.month-indicator button {
    background-color: transparent;
    border: 0;
    border-radius: 10px;
}

.month-indicator button:hover {
    background-color: #8cb1a8;
}

.day-of-week,
.date-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.day-of-week div {
    width: 8vw;
    margin: 1vw 0;
}

.date-grid button {
    width: 8vw;
    height: 8vw;
    font-size: 2vw;
    background-color: white;
    border: 0;
    border-radius: 10px;
}

.date-grid button:hover {
    background-color: #8cb1a8;
}

.unavailable {
    background-color: green;
}

.weather-info {
    float: left;
    margin: 1vw 4vw;
    width: 50vw;
    height: 10vw;
    background-color: #8cb1a8;
    border-radius: 10px;
    padding: 1vw;
    font-size: 1vw;
}

.image-grid {
    float: left;
    width: 35%;
    margin: 1vw;
}

.image-container {
    float: left;
    width: 16vw;
    height: 16vw;
    border-radius: 10px;
    margin: 0.5vw;
}

.image-grid img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.reservation {
    margin-top: 2vw;
    width: 35%;
    float: left;
}

.reservation h1 {
    font-family: verdana;
    font-size: 2.5vw;
    font-weight: normal;
}

.reservation label {
    font-family: verdana;
    width: 100%;
    padding: 0 1vw;
    margin: 0 0.5vw;
    font-size: 1.25vw;
    display: inline block;
}

.reservation input,
.reservation textarea {
    font-family: verdana;
    width: 100%;
    padding: 1vw 1vw;
    margin: 1vw;
    font-size: 1vw;
    display: inline block;
    border: 1px solid gray;
    border-radius: 5px;
}

@media screen and (max-width: 1000px) {
    .calendar {
      width: 95%;
    }

    .month-indicator,
    .month-indicator button {
        font-size: 6vw;
        padding: 0.5vw;
    }

    .day-of-week div {
        width: 12vw;
        font-size: 4vw;
    }

    .date-grid button {
        width: 12vw;
        height: 12vw;
        font-size: 4vw;
    }

    .image-grid {
        width: 95%;
    }

    .image-container {
        width: 100%;
        height: 100%;
    }

    .weather-info {
        width: 90%;
        height: 10%;
        font-size: 4vw;
        margin: 3vw;
    }

    .reservation {
        width: 95%;
        font-size: 4vw;
    }

    .reservation label, 
    .reservation input, 
    .reservation textarea,
    .reservation h1 {
        font-size: 4vw;
    }
  }